.position {
	line-height: 24px;
  font-size: 14px;	
  color: #b0b2b3;
}
.intro {
  line-height: 24px;
  font-size: 14px;
  max-width: 610px;
  margin-bottom: 30px;
}

.icon-box + .icon-box {
  margin-top: 40px;
}

.icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}

.icon-box .icon i {
  color: #428bca;
  font-size: 28px;
}

.icon-box:hover .icon {
  background: #428bca;
}

.icon-box:hover .icon i {
  color: #fff;
}

.icon-box .title {
  margin-left: 75px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.icon-box .title a:hover {
  color: #428bca;
}

.icon-box .description {
  margin-left: 75px;
  line-height: 24px;
  font-size: 14px;
}